@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rubik+Beastly&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

nav, .navbar-brand{
    font-size: x-large;
}

li a:hover{
    text-decoration: underline;
}

/* nav pills colour */
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}
